In [1]:
import time
print(time.ctime(time.time()))

Mon Dec  1 18:08:06 2025

In [2]:
import os

import numpy as np
import pandas as pd

from pathlib import Path

In [3]:
# Day of calendar
day = 1

In [4]:
# Set path to input
input_dir = Path(os.path.abspath('')).parent

In [5]:
# Read input file
filepath = os.path.join(input_dir,'inputs','input_day%02d.txt' %(day))
#input = pd.read_csv(filepath,sep=r'\s+',header=None,names=['col1', 'col2'])
input

      col1   col2
0    88450  63363
1    58674  73195
2    30431  97265
3    79176  36224
4    51071  64526
..     ...    ...
995  29215  99938
996  37580  89301
997  73593  36007
998  11075  96823
999  49084  34885

[1000 rows x 2 columns]

# Part 1

We want to sort each column from min to max and then calculate the difference between elements